<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-select interface="popover" [(ngModel)]="theme"
        (ionChange)="themeServ.setActiveTheme(theme)">
        <ion-select-option *ngFor="let theme of themeServ.getThemes()"
          [value]="theme.name">{{ theme.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
